<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            Search Library
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New book</title>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Sofia+Sans+Condensed&display=swap" 
        rel="stylesheet">
        <link rel="stylesheet" href="/css/search.css">
    </head>
    <body>
            <div class="search-box">
                <button class="btn-search">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text" class="input-search" placeholder="Type to Search...">
              </div>
        <script src="\javascript\books.js">
        </script>
    </body>
    <main> <nav class="navMenu">
        <a href="http://localhost:8080/">Home</a>
        <a href="#">Blog</a>
        <a href="#">Books</a>
        <a href="#">About</a>
        <div class="dot"> 
        </div>
      </nav>
    </main>
</html>